In [ ]:
#  1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions 
#  will be mathematical operators.
#   * 
#  'hello'
#  -87.8
#  - 
#  / 
#  6

In [8]:

#   *   : Expression
#  'hello': Value
#  -87.8 : Value
#  - : Expression
#  / : Expression
#  6 : Value

In [9]:
# 2. What is the difference between string and variable?

In [11]:
# A variable is a type where you can store values like int or string , whereas string is a type of information namely characters 
# which are stored in a variable

In [15]:
# 3. Describe three different data types.

In [17]:
# Three different data types are:
#     Integer e.g 1,2,3,4
#     String e.g "Ineuron","India"
#     Boolean: True,False

In [18]:
# 4. What is an expression made up of? What do all expressions do?

In [19]:
# Expressions are mathematical operators which helps us to do calculations e.g *: multiplication,/: division,-:substraction

In [20]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [22]:
spam =10
spam

10

In [24]:
# if you check the above code, we have assigned 10 int value to the spam named variable so here this is a statement 
#where we are assigning values but in expression we do mathematical calculations

In [25]:
# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [26]:
bacon=12

In [27]:
bacon+1

13

In [28]:
# 7. What should the values of the following two terms be?
# 'spam' + 'spamspam'
# 'spam' * 3

In [29]:
'spam'+'spamspam'

'spamspamspam'

In [31]:
'spam'*3

'spamspamspam'

In [32]:
# 8. Why is eggs a valid variable name while 100 is invalid?

In [33]:
# Egg is a valid varibale because it is a madeof characters, while 100 is invalid as it is a number and variable cant start 
# with a number.
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [34]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [35]:
n=123

# int, str, Float can be used

In [36]:
int(n)

123

In [37]:
str(n)

'123'

In [38]:
float(n)

123.0

In [39]:
# #10 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'

In [40]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [41]:
# This causes error as we are trying to concatenate string with integer

In [43]:
'I have eaten ' + '99' + ' burritos.'
# if we convert it to string it will work

'I have eaten 99 burritos.'