In [12]:
# # 1. Create a list called years_list, starting with the year of your birth, and each year thereafter 
# until the year of your fifth birthday. For example, if you were born in 1980.
# the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [13]:
years_list=[1997,1998,1999,2000,2001,2002]

In [14]:
years_list

[1997, 1998, 1999, 2000, 2001, 2002]

In [15]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [16]:
years_list[3]

2000

In [17]:
# 3.In the years list, which year were you the oldest?

In [18]:
years_list[-1]

2002

In [19]:
# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [32]:
things=["mozzarella", "cinderella", "salmonella"]

In [33]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [22]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [34]:
things[1].upper()

'CINDERELLA'

In [35]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [36]:
# no it doesn't change the elements in the original list.

In [38]:
# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [47]:
surprise=["Groucho" ,"Chico", "Harpo"]

In [48]:
print(surprise)

['Groucho', 'Chico', 'Harpo']

In [49]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [51]:
surprise[-1].lower()

'harpo'

In [55]:
surprise[-1][::-1]

'opraH'

In [54]:
surprise[-1][::-1].upper()

'OPRAH'

In [44]:
# # 8. Make an English-to-French dictionary called e2f and print it.
# Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [1]:
e2f = {'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [2]:
# 9. Write the French word for walrus in your three-word dictionary e2f.

In [3]:
e2f['walrus']

'morse'

In [4]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [6]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [7]:
# 11. Print the English version of the French word chien using f2e.

In [8]:
f2e["chien"]

'dog'

In [9]:
# 12. Make and print a set of English words from the keys in e2f.

In [15]:
english=f2e.keys()

In [16]:
# # 13. Make a multilevel dictionary called life. 
# Use these strings for the topmost keys: 'animals', 'plants', and 'other'.
# Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
# Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. 
# Make all the other keys refer to empty dictionaries.

In [32]:
life ={'animals':{'cats':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [33]:
# 14. Print the top-level keys of life.

In [34]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [35]:
# 15. Print the keys for life['animals'].

In [36]:
life['animals']

{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''}

In [37]:
# 16. Print the values for life['animals']['cats']

In [38]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']